[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
kivy = "*"
tinydb = "*"
pyperclip = "*"
beautifulsoup4 = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
pyttsx3 = "*"
pyinstaller = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[scripts]
styleCheck = "flake8 ./*/*.py"
run = "python ./wordblock_app.py"
test = "python ./tests.py"
install = "pyinstaller ./wordblock_app.spec"
